nav.navbar.navbar-inverse.navbar-fixed-top {
  font-family:'Open Sans', sans-serif;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color:#fff;
  background:#9B1F1F;
}

header.header {
  font-family:'Actor', sans-serif;
}

.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
  border-radius:0;
  border-top:4px solid #9b1f1f;
}

.carousel {
  position:relative;
  border-bottom:4px solid #9b1f1f;
  font-family:'Open Sans', sans-serif;
}

a:focus, a:hover {
  color:#313437;
  text-decoration:none;
}

a {
  color:#9b1f1f;
  text-decoration:none;
}

.article-list .articles img {
  margin-bottom:-60px;
}

.parallax-page {
  margin-bottom:40px;
}

#page-title {
  font-family:'Open Sans', sans-serif;
  margin-bottom:25px;
  padding-top:25px;
  font-size:24px;
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
  border-bottom:2px solid #9b1f1f;
  padding-bottom:40px;
}

#author {
  color:#9b1f1f;
  font-style:italic;
  margin-bottom:20px;
  display:block;
}

blockquote {
  padding:10px 20px;
  margin:0 0 20px;
  font-size:17.5px;
  border-left:5px solid #9b1f1f;
}

.form-control:focus {
  border-color:#9b1f1f;
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(155,31,31,0.498039);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(155,31,31,0.498039);
}

.form-control {
  display:block;
  width:100%;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height:1.42857143;
  color:#555;
  background-color:#fff;
  background-image:none;
  border:1px solid #9b1f1f;
  border-radius:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.widget {
  margin-bottom:40px;
}

.widget-title {
  font-family:'Roboto';
  font-size:16px;
  border-bottom:2px solid #9b1f1f;
  padding-bottom:10px;
}

.article-list .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.latest-products .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.products-list .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

@media (max-width:767px) {
  .article-list h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.article-list h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
  border-bottom:2px solid #9b1f1f;
  padding-bottom:40px;
  font-family:'Open Sans', sans-serif;
}

.latest-products .intro h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
  border-bottom:2px solid #9b1f1f;
  padding-bottom:40px;
  font-family:'Actor', sans-serif;
}

.list-group {
  border-radius:0px;
}

.navbar-default .navbar-brand {
  color:#777;
  padding-left:50px;
  background-image:url(../../assets/img/logo.png);
  background-size:contain;
  background-repeat:no-repeat;
  margin-top:4px;
  margin-bottom:4px;
  background-position:center left;
}

.product-item h2 a {
  text-decoration:none;
  color:#2b2b2b;
  font-family:'Actor', sans-serif;
}

.product-item .product-container {
  text-align:left;
  font:normal 14px sans-serif;
  background-color:#ffffff;
  border:1px solid #dbe3e7;
  border-radius:3px;
  box-shadow:1px 3px 1px rgba(0, 0, 0, 0.08);
  padding:25px;
}

.product-item .product-container {
  text-align:left;
  font:normal 14px sans-serif;
  background-color:#ffffff;
  border:1px solid #dbe3e7;
  border-radius:3px;
  box-shadow:1px 3px 1px rgba(0, 0, 0, 0.08);
  padding:25px;
}

.product-item a.product-image {
  display:block;
  text-align:center;
  box-shadow:0 0 20px 8px #f3f3f3 inset;
  width:100%;
  margin-bottom:25px;
  padding:20px 0;
  box-sizing:border-box;
}

.product-item {
  padding:10px;
}

.product-item a.product-image img {
  height:130px;
}

.product-item h2 {
  font-size:18px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  max-width:200px;
  font-weight:800;
}

.product-item a.small-text {
  color:#808080;
  text-decoration:none;
  margin-top:20px;
  margin-bottom:10px;
  display:block;
  text-align:right;
  font-size:12px;
}

.product-item .product-rating {
  color:#f09911;
  font-size:14px;
}

.product-item .product-rating a.small-text {
  text-align:left;
  margin:0 0 0 10px;
  display:inline-block;
}

.product-item p.product-description {
  margin-top:20px;
  color:#5d5d5d;
  line-height:1.45;
  white-space:normal;
  margin-bottom:20px;
}

.product-item button {
  border-radius:2px;
  background:#9b1f1f;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.12);
  border:0;
  color:#ffffff;
  font-weight:bold;
  font-size:13px;
  padding:8px 20px;
}

.product-item button:active {
  background:#87bae1;
  color:#fff;
  border:0;
}

.product-item button:focus {
  background:#87bae1;
  outline:none;
  color:#fff;
}

.product-item button:hover {
  background:#66ABE0;
  color:#fff;
}

.product-item button:focus:active {
  background:#9b1f1f;
  outline:none;
  color:#fff;
}

.product-item .product-price {
  color:#4e4e4e;
  font-weight:bold;
  font-size:20px;
  padding-top:5px;
  text-align:right;
}

.article-list {
  color:#313437;
  background-color:#fff;
}

.article-list p {
  color:#7d8285;
}

.article-list .intro p {
  margin-bottom:0;
}

.article-list .articles {
  padding-bottom:40px;
}

.article-list .item {
  padding-top:50px;
  min-height:425px;
  text-align:center;
}

.article-list .item .name {
  font-weight:bold;
  font-size:16px;
  margin-top:20px;
  color:inherit;
  padding:10px 0;
  background-color:rgba(155, 31, 31, .5);
  position:relative;
  z-index:2;
  color:#fff;
  font-family:'Open Sans';
}

.article-list .item .description {
  font-size:14px;
  margin-top:15px;
  margin-bottom:0;
}

.article-list .item .action {
  font-size:24px;
  width:24px;
  margin:22px auto 0;
  line-height:1;
  display:block;
  color:#9b1f1f;
  opacity:0.85;
  transition:opacity 0.2s;
  text-decoration:none;
}

.article-list .item .action:hover {
  opacity:1;
}

.features-boxed {
  color:#313437;
  background-color:#ffffff;
}

.features-boxed p {
  color:#7d8285;
}

.features-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
  font-family:'Actor', sans-serif;
  border-bottom:2px solid #9b1f1f;
  padding-bottom:40px;
}

@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.features-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.features-boxed .intro p {
  margin-bottom:0;
}

.features-boxed .features {
  padding:50px 0;
}

.features-boxed .item {
  text-align:center;
}

.features-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.features-boxed .item .icon {
  font-size:60px;
  color:#9b1f1f;
  margin-top:20px;
  margin-bottom:35px;
}

.features-boxed .item .name {
  font-weight:bold;
  font-size:18px;
  margin-bottom:8px;
  margin-top:0;
  color:inherit;
}

.features-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.footer-clean {
  padding:50px 0;
  background-color:#9b1f1f;
  color:#ffffff;
  font-family:'Actor', sans-serif;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width:991px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:#ffffff;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

.team-grid {
  color:#313437;
  background-color:#fff;
}

.team-grid p {
  color:#7d8285;
}

.team-grid h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
  font-family:'Open Sans', sans-serif;
  border-bottom:2px solid #9b1f1f;
  padding-bottom:40px;
}

@media (max-width:767px) {
  .team-grid h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-grid .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-grid .intro p {
  margin-bottom:0;
}

.team-grid .people {
  padding:50px 0;
}

.team-grid .item {
  margin-bottom:30px;
}

.team-grid .item .box {
  text-align:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:280px;
  position:relative;
  overflow:hidden;
}

.team-grid .item .cover {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(155,31,31, .5);
  transition:opacity 0.15s ease-in;
  opacity:0;
  padding-top:80px;
  color:#fff;
  text-shadow:1px 1px 1px rgba(0,0,0,0.15);
}

.team-grid .item:hover .cover {
  opacity:1;
}

.team-grid .item .name {
  font-weight:bold;
  margin-bottom:8px;
  font-family:'Roboto';
}

.team-grid .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#bbd8fb;
  letter-spacing:2px;
  font-size:13px;
  margin-bottom:20px;
}

.team-grid .social {
  font-size:18px;
}

.team-grid .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-grid .social a:hover {
  opacity:1;
}

@media (min-width:767px) {
  .navbar-side ul, .navbar-side li {
    float:none;
  }
}

@media (min-width:767px) {
  .navbar-side .container-fluid, .navbar-side .navbar-collapse {
    padding:0;
  }
}

.carousel-caption h3 {
  border-bottom:2px solid #9b1f1f;
  padding-bottom:15px;
}

.profile-back {
  background-color:#9b1f1f;
  height:150px;
  margin-bottom:-75px;
}

.profile-pic {
  width:150px;
  height:150px;
  margin-bottom:10px;
}

.profile-card {
  text-align:center;
  margin-bottom:15px;
  border:1px solid #9b1f1f;
}

.profile-name {
  background-color:#9b1f1f;
  color:#fff;
  font-family:'Actor', sans-serif;
  font-size:16px;
  font-weight:bold;
  padding:5px 0;
  border-radius:100px;
  max-width:200px;
  margin:0 auto 10px auto;
}

.profile-card .social-list {
  list-style:none;
  padding:0;
  margin-bottom:20px;
}

.profile-card .social-list li {
  display:inline;
  margin:0 5px;
  /*background-color:#9b1f1f;*/
  /*color:#fff;*/
  /*padding:10px;*/
  /*border-radius:100%;*/
}

.profile-bio {
  margin-bottom:10px;
  padding:10px;
}

.profile-card .social-list li i {
  background-color:#9b1f1f;
  color:#fff;
  padding:10px 11px;
  border-radius:100%;
}

@media (min-width:768px) {
  .navbar-nav > li > a {
    padding-top:19px;
    padding-bottom:19px;
  }
}

.contact-form .form-control {
  margin-bottom:15px;
}

.btn-default {
  text-shadow:none;
  background-image:-webkit-linear-gradient(top,#9b1f1f 0,#9b1f1f 100%);
  background-image:-o-linear-gradient(top,#9b1f1f 0,#9b1f1f 100%);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#9b1f1f),to(#9b1f1f));
  background-image:linear-gradient(to bottom,#9b1f1f 0,#9b1f1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat:repeat-x;
  border-color:transparent;
  border-color:#ccc;
  color:#fff;
  border:none;
  border-radius:5px;
  font-family:'Actor', sans-serif;
}

.contact-form {
  margin-bottom:20px;
}

#header-top {
  background-color:#9b1f1f;
  padding:5px 0;
  /*float:left;*/
  width:100%;
}

.navbar-fixed-top {
  top:50px;
  border-width:0 0 1px;
}

.social-top {
  padding:0;
  margin:0;
  list-style:none;
  color:#fff;
}

.social-top li {
  float:left;
  margin-right:10px;
}

.navbar {
  position:relative;
  min-height:50px;
  margin-bottom:0px;
  border:0px solid transparent;
}

.social-top li a {
  color:#fff;
}

.sensei-course-filters {
  margin:0 0 2em 0;
  padding:0;
}

.sensei-course-filters li {
  float:left;
  list-style:none;
}

.sensei-course-filters li a.active {
  border-color:#ddd;
  background:#fff;
  cursor:default;
}

.sensei-course-filters li a {
  display:inline-block;
  border:2px solid #ddd;
  margin-right:5px;
  padding:0.5em 1em;
  background:#eee;
}

.archive-header h1, .course header h1 {
  font-family:'Open Sans', sans-serif;
  margin-bottom:25px;
  padding-top:25px;
  font-size:24px;
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
  border-bottom:2px solid #9b1f1f;
  padding-bottom:40px;
}

#main .course, #main .course-container {
  position:relative;
  margin:0 0 1.618em;
  padding:0 0 1em;
  border-bottom:1px solid #e2e2e2;
  list-style:none;
}

.course, .course-container {
  position:relative;
  margin:0 0 1.618em;
  padding:0 0 1em;
  border-bottom:1px solid #e2e2e2;
  list-style:none;
}

.course-title {
  font-family:'Actor';
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  color:#ffffff;
  background-color:#9b1f1f;
  border-color:#8c8c8c;
}

.btn-default.active, .btn-default:active {
  background-color:#9b1f1f;
  border-color:#ffffff;
}

.course .course-start {
  color:#ffffff;
  background-color:#9b1f1f;
  border-color:#8c8c8c;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
  color:#ffffff;
  background-color:#9b1f1f;
  border-color:#adadad;
}

.btn-default {
  color:#ffffff;
  background-color:#9b1f1f;
  border-color:#ccc;
}

.btn-default.focus, .btn-default:focus {
  color:#ffffff;
  background-color:#9b1f1f;
  border-color:#8c8c8c;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  color:#333;
  background-color:#d4d4d4;
  border-color:#8c8c8c;
}

.btn-default:focus, .btn-default:hover {
  background-color:#e0e0e0;
  background-position:0 -15px;
}

.button.send-message-button {
  display:inline-block;
  padding:10px 20px 10px;
  border:none;
  color:#fff;
  text-align:center;
  text-shadow:none;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:bold;
  font-size:11px;
  font-family:inherit;
  cursor:pointer;
  overflow:visible;
  width:auto;
  line-height:1.618em;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  white-space:nowrap;
  -webkit-appearance:none;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  background:#9b1f1f;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  width:100%;
  margin-top:20px;
}

.course-video iframe {
  width:100%;
  margin-bottom:20px;
}

.course header h2 {
  font-family:'Open Sans', sans-serif;
  margin-bottom:25px;
  padding-top:25px;
  font-size:20px;
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
  border-bottom:2px solid #9b1f1f;
  padding-bottom:30px;
}

.course-lessons article header h2 {
  background-color:#9b1f1f;
  padding:0;
  border-bottom:none;
  margin-bottom:15px;
  margin-top:0;
}

.course-lessons article header h2 a {
  color:#fff;
  font-size:14px;
  font-weight:bold;
  padding:10px;
  display:block;
}

.course-lessons .lesson {
  border:1px solid #9b1f1f;
  display:block;
  margin-bottom:15px;
}

.lesson-meta {
  padding:0 15px;
}

#post-entries {
  margin-bottom:20px;
  font-family:'Actor', sans-serif;
  display:inline-block;
  width:100%;
}

.course .course-start {
  color:#ffffff;
  background-color:#9b1f1f;
  border:none;
  width:100%;
  padding:10px;
  text-transform:uppercase;
  font-weight:bold;
  border-radius:5px;
}

.nav-prev.fl {
  float:left;
}

.nav-next.fr {
  float:right;
}

.sensei-ordering {
  border-color:#9b1f1f;
  outline:0;
  float:right;
}

.sensei-ordering .form-control {
  background-color:#fff;
  border-color:#9b1f1f;
  outline:0;
}

